@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<employee>
@using WebApplication2.Models
<h1> Employee Details</h1>
<a href="/Employee/Create"> Create New </a>

<table border="2" width="800">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Job</th>
        <th>Employee Salary</th>
        <th>Department Number</th>

    </tr>

    @foreach(employee item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.job</td>
            <td>@item.sal</td>
            <td>@item.deptid</td>
            <td>
                <a href="/Employee/Details/@item.Id">View</a>
                <a href="/Employee/Edit/@item.Id">Edit</a>
                <a href="/Employee/delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
    
</table>


